/*btn btn-primary*/
.btn-primary {
    color: $white-color;
    background-color: $accent-color-secondary;
    box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);
    &:hover, &:focus, &:active {
        color: $white-color;
        background: $black-color;
        transform: translateY(-5px);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
    }
    &.focus, &:focus {
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: $white-color;
        background: $black-color;
        transform: translateY(-5px);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
    }
    &.disabled, &:disabled {
        color: $white-color;
        background-color: $accent-color-secondary;
        box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);
        opacity: 1;

        &:hover, &:focus {
            background: $black-color;
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
        }
    }
}
.btn-primary1 {
    color: $white-color;
    background-color: $accent-color-secondary;
    box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);
    &:hover, &:focus, &:active {
        color: $white-color;
        background: $black-color;
        transform: translateY(-5px);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
    }
    &.focus, &:focus {
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: $white-color;
        background: $black-color;
        transform: translateY(-5px);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
    }
    &.disabled, &:disabled {
        color: $white-color;
        background-color: $accent-color-secondary;
        box-shadow: 0 13px 27px 0 rgba(68, 206, 111, .25);
        opacity: 1;

        &:hover, &:focus {
            background: $black-color;
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, .25);
        }
    }
}
.btn {
    font: {
        weight: 600;
        size: 14px;
    }
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
    transition: $transition;

    &::after, &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 0;
        transition: $transition;
        background: $accent-color;
        z-index: -1;
    }
    &::after {
        left: 0;
        border-radius: 4px 0 0 4px;
    }
    &::before {
        right: 0;
        border-radius: 0 4px 4px 0;
    }
    &:hover {
        &::after, &::before {
            width: 50%;
        }
    }
}
/*btn-secondary*/
.btn {
    &.btn-secondary {
        text-transform: capitalize;
        border-radius: 0;
        background-color: $accent-color-secondary;
        padding: 13px 30px;
        box-shadow: 5px 5px 5px #a6f5be;
        margin: {
            right: 5px;
            bottom: 5px;
        };
        font: {
            size: 14px;
            weight: 500;
        };
        &::before {
            border-radius: 0;
            background: $accent-color;
        }
        &::after {
            border-radius: 0;
            background: $accent-color;
        }
        &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
            color: $white-color;
            background-color: $accent-color-secondary;
            border-color: $accent-color-secondary;
        }
        &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
            box-shadow: 5px 5px 5px #e9caf5;
        }
        &:focus {
            color: $white-color;
        }
        &:hover, &:focus {
            box-shadow: 5px 5px 5px #e9caf5;
        }
    }
}