
$accent-color-secondary: #ce4d4d;
$white-color: #FCFFF7;
$black-color: #0e314c;
$navlink-color: $white-color;
$paragraph-color: #6084a4;
$accent-color: #ffd500;
$bg-color: #FCFFF7;
$bg-color2: #f9f6f6;
$hosting-main-color: #50b3ff;
$gradient-color: linear-gradient(135deg,$hosting-main-color 0%, $accent-color 100%);
$gradient-color2: linear-gradient(135deg, $accent-color-secondary 0%, $black-color 100%);
$transition: .5s;

