
/*================================================
Contact CSS
=================================================*/
.contact-info-box {
    text-align: center;
    transition: .4s;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    background: $white-color;
    padding: 30px;

    .icon {
        display: inline-block;
        width: 65px;
        height: 65px;
        line-height: 70px;
        background: $bg-color;
        border-radius: 50%;
        font-size: 30px;
        color: $accent-color-secondary;
        transition: .4s;
    }
    h3 {
        margin: 25px 0 15px;
        font: {
            size: 18px;
        }
    }
    p {
        margin-bottom: 0;

        a {
            color: $paragraph-color;

            &:hover {
                color: $accent-color-secondary;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .icon {
            color: $white-color;
            background: $accent-color-secondary;
        }
    }
}
#contactForm {
    .btn {
        margin-top: 10px;
    }
}


