/*================================================
IoT Features CSS
=================================================*/
.iot-features-content {
    h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 15px;
    }
}

.iot-features-image {
    position: relative;
    text-align: center;
}

