
/*================================================
Footer CSS
=================================================*/
.footer-area {
    position: relative;
    z-index: 1;
    padding: {
        top: 80px;
    }
    .map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        z-index: -1;
        bottom: 0;
        opacity: .7;
    }
}
.single-footer-widget {
    .logo {
        margin-bottom: 20px;

        a {
            display: block;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &.list {
            li {
                margin-bottom: 10px;

                a {
                    color: $paragraph-color;

                    &:hover {
                        color: $accent-color-secondary;
                        padding-left: 7px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.footer-contact-info {
            margin-bottom: 20px;

            li {
                position: relative;
                color: $paragraph-color;
                margin-bottom: 8px;
                padding-left: 25px;

                i {
                    position: absolute;
                    left: 0;
                    width: 15px;
                    top: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $paragraph-color;

                    &:hover {
                        color: $accent-color-secondary;
                    }
                }
            }
        }
        &.social-links {
            li {
                display: inline-block;
                margin-right: 5px;

                a {
                    width: 32px;
                    text-align: center;
                    line-height: 35px;
                    height: 32px;
                    border: 1px solid $accent-color-secondary;
                    border-radius: 50%;
                    color: $accent-color-secondary;

                    i {
                        width: 15px;
                    }
                    &.facebook {
                        border-color: #4267b2;
                        color: #4267b2;

                        &:hover {
                            background: #4267b2;
                            color: $white-color;
                        }
                    }
                    &.twitter {
                        border-color: #38A1F3;
                        color: #38A1F3;

                        &:hover {
                            background: #38A1F3;
                            color: $white-color;
                        }
                    }
                    &.linkedin {
                        border-color: #0077B5;
                        color: #0077B5;

                        &:hover {
                            background: #0077B5;
                            color: $white-color;
                        }
                    }
                    &.instagram {
                        border-color: #231F20;
                        color: #231F20;

                        &:hover {
                            background: #231F20;
                            color: $white-color;
                        }
                    }
                    &:hover {
                        background: $accent-color-secondary;
                        color: $white-color;
                    }
                }
            }
        }
    }
}
.copyright-area {
    margin-top: 80px;
    padding: {
        top: 25px;
        bottom: 25px;
    }
    border-top: 1px solid #d8ebfd;
    text-align: center !important;
}
